{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <section class="py-5 mt-5">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="display-6 fw-bold mb-4"><span class="underline">Pricing and service fees</span></h2>
                    <p class="text-muted">Welcome to our pricing and fees page, where you can find a comprehensive breakdown of the costs associated with our services. We understand that transparency and clarity are crucial when it comes to pricing, and we strive to ensure that our customers have a clear understanding of the fees involved.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h3 class="display-6 fw-bold mb-4">Standard Fees</h3>
                    <p class="text-muted">Please refer to our standard fees for the comprehensive list of charges associated with the services we provide.</p>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-lg-3" style="padding-top: 0px;"><table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Service</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Rate within first 30kms</td>
                <td>R4.50/km</td>
            </tr>
            <tr>
                <td>Rate after first 30kms</td>
                <td>R5.50/km</td>
            </tr>
            <tr>
                <td>Protective Flyer</td>
                <td>R25.00</td>
            </tr>
            <tr>
                <td>Serving</td>
                <td>R20.00/location</td>
            </tr>
            <tr>
                <td>3kg Base Weight, additional charge of R10.00/kg thereafter</td>
            </tr>
        </tbody>
    </table></div>
            <div class="row" style="padding-top: 40px;">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="display-6 fw-bold mb-4">Urgent Delivery Rates</h2>
                    <p class="text-muted">We understand that sometimes you may require urgent delivery services. In such cases, we are here to help. Our delivery services are designed to cater to your immediate needs with timely and reliable delivery.</p>
                </div>
            </div>
            <div class="row" style="padding-top: 0px;"><table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Service</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Rate within first 30kms</td>
                <td>R6.50</td>
            </tr>
            <tr>
                <td>Rate after first 30kms</td>
                <td>R7.50</td>
            </tr>
            <tr>
                <td>3kg Base Weight, additional charge of R10.00/kg thereafter</td>
            </tr>
        </tbody>
    </table></div>
            <div class="row" style="padding-top: 40px;">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="display-6 fw-bold mb-4">After Hours Delivery Rates</h2>
                    <p class="text-muted">We understand that sometimes you may require urgent delivery services. In such cases, we are here to help. Our delivery services are designed to cater to your immediate needs with timely and reliable delivery.</p>
                    <p class="text-muted"><span style="color: rgb(255, 0, 0);">PLEASE NOTE: AFTER HOUR DELIVERY CAN ONLY BE REQUESTED VIA WHATSAPP AND PHONE CALL.</span></p>
                </div>
            </div>
            <div class="row" style="padding-top: 0px;"><table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Service</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Base Fee</td>
                <td>R200.00</td>
            </tr>
            <tr>
                <td>3kg Base Weight, additional charge of R10.00/kg thereafter</td>
            </tr>
        </tbody>
    </table></div>
  
        </div>
    </section>
{% endblock %}