{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<section class="py-5 mt-5">
  <div class="container py-5">
      <div class="row">
          <div class="col-md-8 col-xl-6 text-center mx-auto">
              <h2 class="display-6 fw-bold mb-4"><span class="underline">Correspondence Request</span>.</h2>
              <p class="text-muted">Provide us with the details of your order request by completing the form below. Our team will promptly attend to your request.</p>
          </div>
      </div>
  </div>

  <div class="container col-md-8 col-xl-6 text-center mx-auto" >
      <form action="" method="POST">
          {% csrf_token %}
                  <div class="row">
                    <p class="text-muted">Search for addresses and establishments</p>
                      <div>
                            
                          <div class="mb-3"><label class="form-label" for="id-google-address-1"><strong>Start Address</strong></label>
                              <input class="form-control" type="text" id="id-google-address-1" name="google_address_1">
                          </div>

                          <br>
                          <div id="input-fields"></div>
        
                          <div class="mb-3"><label class="form-label" for="id-google-address-2"><strong>Destination Address</strong></label>
                              <input class="form-control" type="text" id="id-google-address-2" name="google_address_2">
                          </div>

                          <br><button class="btn btn-secondary" id="add-field-button" type="button">Add Stop</button>
                      </div>
                  </div>
      </form>
  </div>


  <input type="hidden" class="geo" id="id-lat-1" value="">
  <input type="hidden" class="geo" id="id-long-1" value="">
  <input type="hidden" class="geo" id="id-lat-2" value="">
  <input type="hidden" class="geo" id="id-long-2" value="">

</section>



{% endblock %}

{% block extend_footer %}
<script type="text/javascript">

    var google_api_key = "{{google_api_key|safe}}";

</script>
<script src="{% static 'othercorrespondence_google_places.js' %}"></script>
<script>

  locationNum = 2
  
  function addInputField() {
    locationNum++

    // Create a new heading element
    var heading = document.createElement("form-label");
    heading.innerHTML = "<strong>Stop " + (locationNum-2) + "</strong>";
    

    // Add the heading element to the input-fields div
    var inputFieldsDiv = document.getElementById("input-fields");
    inputFieldsDiv.appendChild(heading);


    // Create a new input element
    var input = document.createElement("input");
    input.type = "text";
    input.className = "form-control"

    // Add the input element to the input-fields div
    var inputFieldsDiv = document.getElementById("input-fields");
    inputFieldsDiv.appendChild(input);
    inputFieldsDiv.appendChild(document.createElement("br"));
    inputFieldsDiv.appendChild(document.createElement("br"));


    // Create hidden fields for latitude and longitude
    var latField = document.createElement("input");
    latField.type = "hidden";
    latField.className = "geo";
    latField.id = "id-lat-"+locationNum;
    inputFieldsDiv.appendChild(latField);

    var longField = document.createElement("input");
    longField.type = "hidden";
    longField.className = "geo";
    longField.id = "id-long-"+locationNum;
    inputFieldsDiv.appendChild(longField);

    // Initialize Google Places Autocomplete on the new input field
    var autocomplete = new google.maps.places.Autocomplete(input, { types: ['establishment'], componentRestrictions: {country: 'ZA'} });


    // Set the latitude and longitude values when a place is selected
    autocomplete.addListener("place_changed", function() {
      var place = autocomplete.getPlace();
      document.getElementById("id-lat-"+locationNum).value = place.geometry.location.lat();
      document.getElementById("id-long-"+locationNum).value = place.geometry.location.lng();
    });
  }

  document.getElementById("add-field-button").addEventListener("click", addInputField);
</script>
{% endblock %}

